@model Booker.Models.Book

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>

<li>Author: @Model.Author</li>
<li>Year Published: @Model.YearOfPublication</li>

@using (Html.BeginForm("Edit/" + Model.Id, "Books"))
{
    <button type="submit" class="btn btn-primary">Edit</button>
}

<br />

<a class="btn btn-primary" href="~/Books/Index" role="button">Return</a>